<h3 class="card-header">Submit a Request</h3>
<div class="card-body">
    <center><i class="fe fe-users" style="font-size: 5rem"></i></center>
    <br>
    <p>Do you need help with your hack? Submit a mentorship requests and shortly after, a mentor will contact you!</p>
    <p>Mentors will be happy to help out either in-person or in the Slack!</p>
    <center><%= link_to '<i class="fe fe-users mr-2"></i>Submit a Request'.html_safe, new_mentorship_request_path, class: 'btn btn-secondary' %></center>
</div>
