<div class="alert alert-icon alert-primary" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i> <b>Hey there!</b> You can only have 5 mentorship requests open at
    the same time. You currently have <%= 5 - @current_user.number_of_requests %> requests left.
</div>