<div class="alert alert-icon alert-danger" role="alert">
    <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> <b>Oh boy...</b> It looks like you have 5 unresolved
    mentorship requests. You will need to resolve them before you request for more help.
</div>