<h3>Traveling to HackUMass</h3>
<p>Once you RSVP, you'll be good to go with just your computer!</p>
<a href="https://teams.microsoft.com/l/team/19%3ad22d4179a43b4b2fab4b3cf1182ea196%40thread.tacv2/conversations?groupId=cad25a0c-525c-400a-912b-8757568c1ce3&tenantId=7bd08b0b-3395-4dc1-94bb-d0b2e56a497f" target="_blank" class="btn btn-primary">Join us on Microsft Teams here</a>