<p>
    <div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> will be fully online this year.</div>
</p>
<p>
    <div class="text">
        To attend the event, just must join our Microsoft Teams channel. You will be sent an email with more information on joining soon.</a>.
    </div>
</p>
<p>
    <div class="text">If you have any questions, ask us at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div>
</p>
<br>
