<p><div class="text">Congratulations! You’ve been accepted!</div></p>
<p><div class="text">The event is from November 5th to 7th, 2021 at the Integrative Learning Center (ILC).  In order to participate, make sure to RSVP with the button below. If for any reason you can not attend, please let us know by clicking the button below.</div></p>
<p><div class="text">By clicking the RSVP button you are letting us know that you will <b> definitely</b> attend the event. We use RSVPs to ensure that there are enough mentors, judges, and volunteers available. Please only RSVP if you are sure you’ll be attending.</div></p>
