<p>
    <div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> will take place in the Integrative Learning Center (ILC) this year.</div>
</p>
<p>
    <div class="text">
        Check in will take place at both the North Pleasant St. entrance and the first floor entrance near the campus center. Bring the QR code and you’ll be all set to check-in! You will also receive an email soon with more information.
    </div>
</p>
<p>
    <div class="text">If you have any questions, ask us at <%= HackumassWeb::Application::CONTACT_EMAIL %> and follow our social medias for live updates!</div>
</p>
<br>
