<p>
    <div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> will be fully online this year.</div>
</p>
<p>
    <div class="text">
        To attend the event, just must join our <a href="https://teams.microsoft.com/l/team/19%3ad22d4179a43b4b2fab4b3cf1182ea196%40thread.tacv2/conversations?groupId=cad25a0c-525c-400a-912b-8757568c1ce3&tenantId=7bd08b0b-3395-4dc1-94bb-d0b2e56a497f" target="_blank" >Microsoft Team channel here</a>.
    </div>
</p>
<p>
    <div class="text">If you have any questions, ask us at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div>
</p>
<br>
