<p><div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> happens at the Integrated Learning Center (ILC) at the University of Massachusetts Amherst.</div></p>
<p><div class="text">If you’re driving to the event, you must park in Lot 44, Lot 20, or Lot 22 and then walk over to our venue. Check out our venue on Google Maps if you have problems navigating campus.</div></p>
<p><div class="text">If you have any questions, ask us know at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div></p>
<br>
<a href="https://goo.gl/maps/851VYrC6oLJ2" target="_blank" class="btn btn-secondary">See Our Venue on Google Maps</a>