<p><div class="text">Congratulations! You’ve been accepted!</div></p>
<p><div class="text">The event is from October 12th-14th at the University of Massachusetts Amherst.  In order to participate, make sure to RSVP with the button below. If for any reason you can not attend, please let us know by clicking the button below.</div></p>
<p><div class="text">By clicking the RSVP button you are letting us know that you will <b> definitely</b> come to the event. We will be reserving swag, food and more for you. So please only RSVP if you are 100% sure you’ll be attending.</div></p>
