<p><div>Go to our hardware table and borrow some cool tech using this QR Code.</div></p>
<p><div>If for some reason your QR Code can't be scanned, you can still check in using your email address which is <b><%= current_user.email %></b> </div></p>