<p>
    <div>
        To learn more about hardware, please contact a member of the hardware team or put in a mentorship request.
    </div>
</p>
<p>
    <div>
        If you would like to use your own hardware during the event, we are more than happy to help you with troubleshooting and setup.
    </div>
</p>