<p><b>Thanks!</b> You joined our Slack! Try checking out the <b>#mentorship</b> channel, and see if you can find a
    mentor to help you out!</p>
<a href="https://<%= HackumassWeb::Application::SLACK_SUBDOMAIN %>.slack.com/app_redirect?channel=mentorship"
    target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Go to #mentorship channel</a>