<p><b>Hi there!</b> Thanks for being a mentor! In order to help attendees you will need to join our Slack</p>
<p><b>FYI</b>, You must create your slack account with this email: <b><%= current_user.email %> </b>.</p>
<a href="<%= join_slack_path %>" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Join Slack</a>
