<p><b>Hi there!</b> Thank you for being a mentor! In order to help attendees you will need to join our Slack. This is required so that you can reach out to attendees, and so they can also contact you for help!</p>
<p>You must create your Slack account with this email: <b><%= current_user.email %> </b>.</p>
<a href="<%= HackumassWeb::Application::SLACK_JOIN_URL %>" target="_blank" class="btn btn-purple"><i class="fe fe-slack mr-2"></i>Join Our Slack</a>