<h2>Hey, <%= current_user.first_name.capitalize %>!</h2>
<div class="text-muted">Congratulations on completing the first step to participate in <%= HackumassWeb::Application::HACKATHON_NAME %> <%= HackumassWeb::Application::HACKATHON_VERSION %>!
<b>Sadly, our applications have closed. We hope to see you at our next event!</b>
</div>
<div class="d-flex align-items-center pt-5 mt-auto">
</div>
<center>
    <a href="https://mlh.io" class="btn btn-secondary">Check out other hackathons</a>
</center>