<p><b>Hello!</b> Please join our slack! Once you join slack, you will be able to talk to <b>mentors</b>, check out our <b>hardware</b>, see our <b>prizes</b>, and more. </p>
<p>Make sure you create your slack account with this email: <b><%= current_user.email %> </b>.</p>
<a href="<%= HackumassWeb::Application::SLACK_JOIN_URL %>" target="_blank" class="btn btn-purple"><i class="fe fe-slack mr-2"></i>Join Slack</a>