<p><div>Once you arrive, use the QR Code above to check in at the welcome desk.</div></p>
<p><div>If for some reason your QR Code can't be scanned, you can still check in using your email address which is <b><%= current_user.email %></b> </div></p>
<p>We understand stuff happens, so if you can't come to the event for any reason, please let us know by clicking the button below.</p>
