<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Attending HackUMass 💻</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <h3>We're Back In Person!</h3>
        <p>
            Join our Slack for up-to-date information on the event,
            and we will see you in the ILC!
        </p>   
    </div>
</div>
