<p><div>Before the event starts, go ahead and introduce yourself in the Introductions channel on our Slack!</div></p>
<p>
    <div>
        Once the event starts, keep an eye on Slack for important updates and information!
    </div>
</p>
