<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Attending HackUMass 💻</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <h3>We're Fully Online!</h3>
        <p>
            Join our Microsoft Teams group for up-to-date information on the event!
        </p>
        <p>
        TODO: Link Here.
        </p>      
    </div>
</div>
