<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Traveling 🚌</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <h3>Bus Transportation Details</h3>
        <p>
            Join these Slack channels to receive more information on busing:
        </p>
        <a href="https://<%= HackumassWeb::Application::SLACK_SUBDOMAIN %>.slack.com/app_redirect?channel=boston_bus" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>#Boston_bus</a>
        <br>
        <a href="https://<%= HackumassWeb::Application::SLACK_SUBDOMAIN %>.slack.com/app_redirect?channel=new_york_bus" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>#New_York_bus</a>
      
    </div>
</div>
