<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Attending HackUMass 💻</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <h3>We're Fully Online!</h3>
        <p>
            Join our Microsoft Teams group for up-to-date information on the event!
        </p>
        <p>
        <a href="https://teams.microsoft.com/l/team/19%3ad22d4179a43b4b2fab4b3cf1182ea196%40thread.tacv2/conversations?groupId=cad25a0c-525c-400a-912b-8757568c1ce3&tenantId=7bd08b0b-3395-4dc1-94bb-d0b2e56a497f" target="_blank" class="btn btn-primary">Join our Team</a>
        </p>      
    </div>
</div>
