<p><div>Before the event starts, you can introduce yourself in the Introductions channel on our Team!</div></p>
<p>
    <div>
        Once the event starts, keep an eye on our Team for updates and information!
    </div>
</p>
