<div class="card">
    <div class="card-status bg-dark"></div>
    <div class="card-header">
        <h3 class="card-title">Slack</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <p>Join Slack for all of your real-time communications during the event!</p>
    </div>
</div>
