<h2>Hey, <%= current_user.first_name.capitalize %></h2>
<div class="text-muted">Thanks for applying to <%= HackumassWeb::Application::HACKATHON_NAME %>!</div>
<p>
<div class="text-muted">
Unfortunately we’ll have to ask you to hold on a little longer… You’ve been waitlisted. We received an overwhelming number of applicants this year  are unable to offer you a spot at the event for the moment.</div></p>
<div class="text-muted">We will let you know of your application status soon. Thanks for applying!</div>
<div class="d-flex align-items-center pt-5 mt-auto">
</div>