<p><b>Hey there!</b> You will need to sign up on Slack before you access this part of the website! Otherwise you won't get access to <b>mentorship, prizes, hardware and more.</b>
<p><b>Just in case</b>, You must create your slack account with this email: <b><%= current_user.email %> </b></p>