<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Hi <%= @user.first_name %>,</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;"><%= HackumassWeb::Application::HACKATHON_NAME %> is beginning this Friday! This is the last email you will receive before the event, <b> and all communication from now on will be happening through Slack, so make sure to join through your account on the HackUMass Dashboard</b>.</p>
