<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Hi <%= @user.first_name %>,</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Thanks for applying to <%= HackumassWeb::Application::HACKATHON_NAME %>!</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Unfortunately we’ll have to ask you to hold on a little longer… You’ve been waitlisted! We received an overwhelming number of applicants this year and unfortunately due to our venue's space limitations, we are unable to offer you an immediate spot at the event. We’ll be sending out invitations to those on our waitlist soon, so stay tuned!</p>                    
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Thanks again for applying!
    <br>- The <%= HackumassWeb::Application::HACKATHON_NAME %> Team</p>