By checking the box below you agree to UMass' <a href="http://hackumass.com/legal/HUMVPhotoRelease.pdf">
Photo Release</a> requirement and <a href="http://hackumass.com/legal/HUMVLiabilityWaiver.pdf">
Liability Waiver</a>.