I agree to the terms of both the <a href="https://goo.gl/jMXKsO">
MLH Contest Terms and Conditions </a> and the
<a href="https://mlh.io/privacy"> MLH Privacy Policy </a>.
Please note that you may receive pre and post-event
informational e-mails and occasional messages about hackathons
from MLH as per the MLH Privacy Policy. Also, by checking the box below
you agree to UMass' <a href="http://hackumass.com/legal/HUMVPhotoRelease.pdf">
Photo Release</a> requirement and <a href="http://hackumass.com/legal/HUMVLiabilityWaiver.pdf">
Liability Waiver</a>.